*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(images/one.png) no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
marquee {
    font-size: xx-large;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card1, .card2, .card3, .card4{
    padding: 100px;
    color:#fff;
    margin: 20px;
    width: calc(50% - 40px);
    font-size: xx-large;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.card1{
    background: url(images/inquiry.png) no-repeat;
    background-size: cover;
}
.card2{
    background: url(images/deposit.png) no-repeat;
    background-size: cover;
}
.card3{
    background: url(images/withdrawl.png) no-repeat;
    background-size: cover;
}
.card4{
    background: url(images/amount.png) no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card1, .card2, .card3, .card4 {
        width: calc(100% - 40px);
        margin: 10px 0;
    }
}
